* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*::selection {
    background-color: #002a1f9f;
    color: white;
}
body {
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
}
/* .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} */
/* @media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}
@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* start header */
header {
    color: white;
    background-image: linear-gradient(to right, #002a1f , black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
header::before {
    content: "";
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-color: #002A1F;
    border-radius: 50%;
    right: -20%;
    bottom: -30%;
    filter: drop-shadow(0 0 3px #bcabbb14);
}
header .container {
    background-color: #00000026;
    width: 85%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 8px -5px black, inset 0 0 8px -5px #002a1f;
}
header .container .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header .container .head .logo {
    flex-basis: 12%;
    text-align: center;
}
header .container .head .logo a::selection,
header .container .content .image img::selection {
    background-color: transparent;
}
header .container .head .logo a {
    font-size: 35px;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ececec;
    filter: drop-shadow(2px 4px 10px black);
}
header .container .head .logo:hover a {
    animation: adidas 1s;
}
@keyframes adidas {
    0% {
        letter-spacing: 1.5px; 
    }
    33% {
        letter-spacing: 3.5px;
    }
    66% {
        letter-spacing: -3.5px;
    }
    100% {
        letter-spacing: 1.5px;
    }
}
header .container .head nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .head nav ul li {
    padding-top: 35px;
    transition: .3s;
}
header .container .head nav ul li a {
    color: #b6a1b5;
    transition: .3s;
}
header .container .head nav ul li:hover{
    transform: scale(1.1);
}
header .container .head nav ul li:hover:last-of-type a {
    text-decoration: line-through;
    border: none;
}
header .container .head nav ul li:hover a{
    color: #8ba9a1;
    border-bottom: 1px solid #c2aec0;
    transform: scale(1.1);
    filter: drop-shadow(0 0 1px black);
}
header .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
}
header .container .content .text {
    flex-basis: 40%;
}
header .container .content .text h2 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #8ba9a1;
}
header .container .content .text h2 span{
    color: #ae98ac;
}
header .container .content .text p {
    margin-top: 25px;
    color: #b7a5b6;
    line-height: 1.5;
}
header .container .content .image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .content .image img {
    width: 100%;
    transition: .5s;
}
header .container .content .image img:hover {
    transform: scale(1.1);
}
@media (max-width: 767px) {
    header{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    header::before {
        right:initial;
        bottom: -60%;
    }
    header .container {
        height: 95%;
    }
    header .container .head {
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    header .container .head .logo {
        flex: 1 1 100%;
        text-align: center;
        padding-top: 20px;
    }
    header .container .head nav {
        flex: 1 1 100%;
    }
    header .container .head ul{
        flex-wrap: wrap;
    }
    header .container .head ul li {
        margin: auto;
        margin: auto;
        
    }
    header .container .content {
        flex-flow: column wrap;
        padding: 50px 20px;
    }
    header .container .content .text h2 {
        font-size: 55px;
    }
}
@media (min-width: 768px){
    header {
        height: 100vh;
    }
    header .container nav {
        position: relative;
        transform: translateY(-30%);
    }
    header .container .head ul li {
        padding: 35px 10px 0;
    }
}
@media (min-width: 1200px) {
    header .container .head {
        padding-top: 20px;
    }
    header .container .head .logo a {
        font-size: 40px;
    }
    header .container .head nav ul li a{
        font-size: 20px;
    }
    header .container .content .image img {
        width: 350px;
    }
    header .container .content .text h2 {
        font-size: 50px;
    }
    header .container .content .text p {
        font-size: 18px;
    }
}
@media (min-width: 1500px) {
    .container {
        max-height: 760px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 30px;
    }
    header .container .head .logo a {
        font-size: 60px;
    }
    header .container .head nav ul li {
        padding-left: 30px;
        padding-right: 30px;
    }
    header .container .head nav ul li a{
        font-size: 25px;
    }
    header .container .content {
        padding: 35px 50px;
    }
    header .container .content .image img {
        width: 500px;
    }
    header .container .content .text h2{
        font-size: 60px;
    }
    header .container .content .text p{
        font-size: 18px;
        line-height: 1.8;
    }
    header::before {
        width: 1300px;
        height: 1300px;
        right: -15%;
        bottom: -40%;
    }
}

/* end header */
